<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="work.yj1211.live.mapper.RoomMapper">
    <resultMap id="RoomInfoMap" type="work.yj1211.live.vo.SimpleRoomInfo">
        <result column="platform" property="platform"/>
        <result column="roomId" property="roomId"/>
    </resultMap>

    <select id="getRoomsByUid" parameterType="String" resultMap="RoomInfoMap">
        select platform, roomId from follows where uid = #{uid}
    </select>

    <select id="ifIsFollowed" resultType="Integer">
        select Count(*) from follows where uid = #{uid} and platform = #{platform} and roomId = #{roomId}
    </select>

</mapper>
