<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.yj1211.live.mapper.UserMailMapper">
  <resultMap id="BaseResultMap" type="work.yj1211.live.model.user.UserMail">
    <!--@mbg.generated -->
    <!--@Table user_mail -->
    <!-- generated on Mon Jun 06 11:42:39 CST 2022 -->
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <id column="mail" jdbcType="VARCHAR" property="mail" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated -->
    delete from user_mail
    where `uid` = #{uid,jdbcType=VARCHAR}
      and mail = #{mail,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="uid" keyProperty="uid" parameterType="work.yj1211.live.model.user.UserMail"
          useGeneratedKeys="true">
    <!--@mbg.generated -->
    insert into user_mail
    values (#{uid,jdbcType=VARCHAR},#{mail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="uid" keyProperty="uid" parameterType="work.yj1211.live.model.user.UserMail"
          useGeneratedKeys="true">
    <!--@mbg.generated -->
    insert into user_mail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mail != null">
        mail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectAllByMail" resultMap="BaseResultMap">
    select
    *
    from user_mail
    where
    mail = #{mail,jdbcType=VARCHAR}
  </select>
  <select id="selectAllByUid" resultMap="BaseResultMap">
    select
    *
    from user_mail
    where
    uid = #{uid,jdbcType=VARCHAR}
  </select>
  <select id="selectByUid" resultMap="BaseResultMap">
    select
    *
    from user_mail
    where
    uid = #{uid,jdbcType=VARCHAR}
  </select>
  <update id="updateMailByUid">
    update user_mail
    set mail = #{mail,jdbcType=VARCHAR}
    where
    uid = #{uid,jdbcType=VARCHAR}
  </update>
  <select id="selectUidByMail" resultType="String">
    select uid
    from user_mail
    where
    mail = #{mail,jdbcType=VARCHAR}
  </select>
</mapper>