<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="work.yj1211.live.mapper.UserMapper">
    <resultMap id="userInfoMap" type="work.yj1211.live.model.UserInfo">
        <result column="uid" property="uid"/>
        <result column="userName" property="userName"/>
        <result column="nickName" property="nickName"/>
        <result column="head" property="head"/>
        <result column="isActived" property="isActived"/>
        <result column="allContent" property="allContent"/>
        <result column="selectedContent" property="selectedContent"/>
        <result column="douyuLevel" property="douyuLevel"/>
        <result column="bilibiliLevel" property="bilibiliLevel"/>
        <result column="huyaLevel" property="huyaLevel"/>
        <result column="ccLevel" property="ccLevel"/>
        <result column="egameLevel" property="egameLevel"/>
        <result column="created" property="created"/>
        <result column="modified" property="modified"/>
        <result column="last_login" property="lastLogin"/>
    </resultMap>

    <resultMap id="areaInfoMap" type="work.yj1211.live.model.platformArea.AreaSimple">
        <result column="uid" property="uid"/>
        <result column="areaType" property="areaType"/>
        <result column="area" property="area"/>
    </resultMap>

    <select id="login" resultMap="userInfoMap">
        select  *
        from userinfo
        where userName = #{userName} and password = #{password}
    </select>

    <select id="findUserByName" resultType="work.yj1211.live.model.UserInfo">
        select * from userinfo where userName = #{userName}
    </select>

    <insert id="register" parameterType="work.yj1211.live.model.UserInfo">
        insert into userinfo(uid,userName,
                    nickName,
                    password,
                    isActived,
                    douyuLevel,
                    bilibiliLevel,
                    huyaLevel,
                    ccLevel,
                    egameLevel,
                    allContent,
                    selectedContent)
        values (#{uid},#{userName},#{nickName},#{password},'0','1','1','1','1','1','','');
    </insert>

    <select id="checkFollowed" resultType="work.yj1211.live.model.SimpleRoomInfo">
        select platform, roomId from follows where uid = #{uid}
                                               and platform = #{platform}
                                            and roomId = #{roomId}
    </select>

    <insert id="followRoom">
        insert into follows(uid,platform,roomId) values (#{uid}, #{platform}, #{roomId})
    </insert>

    <insert id="followArea">
        insert into areaFollow(uid,areaType,area) values (#{uid}, #{areaType}, #{area})
    </insert>
    <insert id="insertActiveUserNum" parameterType="work.yj1211.live.model.ActiveUsers">
        insert into active_users(login_user_num) values (#{loginUserNum, jdbcType =INTEGER})
    </insert>

    <select id="getAreasByUid" parameterType="String" resultMap="areaInfoMap">
        select uid, areaType, area from areaFollow where uid = #{uid}
    </select>

    <delete id="unFollowArea">
        delete from areaFollow where uid = #{uid} and areaType = #{areaType} and area = #{area}
    </delete>

    <delete id="unFollowRoom">
        delete from follows where uid = #{uid} and platform = #{platform} and roomId = #{roomId}
    </delete>

    <update id="changeUserInfo" parameterType="work.yj1211.live.model.UserInfo">
        update userinfo
        set nickName = #{nickName}
        where userName = #{userName}
    </update>

    <update id="changePassword" >
        update userinfo set password = #{password} where userName = #{userName}
    </update>

    <update id="changeUserBan" parameterType="work.yj1211.live.model.UserInfo">
        update userinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="isActived != null and isActived != ''">isActived = #{isActived},</if>
            <if test="douyuLevel != null and douyuLevel != ''">douyuLevel = #{douyuLevel},</if>
            <if test="bilibiliLevel != null and bilibiliLevel != ''">bilibiliLevel = #{bilibiliLevel},</if>
            <if test="huyaLevel != null and huyaLevel != ''">huyaLevel = #{huyaLevel},</if>
            <if test="ccLevel != null and ccLevel != ''">ccLevel = #{ccLevel},</if>
            <if test="egameLevel != null and egameLevel != ''">egameLevel = #{egameLevel},</if>
            <if test="1==1">allContent = #{allContent},</if>
            <if test="1==1">selectedContent = #{selectedContent},</if>
        </trim>
        where userName = #{userName}
    </update>

    <update id="updateLastLogin">
        update userinfo
        set last_login = CURRENT_TIMESTAMP
        where uid = #{uid}
    </update>
    <select id="findByUid" resultType="work.yj1211.live.model.UserInfo">
        select
        *
        from userinfo
        where
        uid = #{uid,jdbcType=VARCHAR}
    </select>
    <select id="selectAllByUidAndPassword" resultType="work.yj1211.live.model.UserInfo">
        select
        *
        from userinfo
        where uid = #{uid} and password = #{password}
    </select>
    <select id="countUserActived" resultMap="userInfoMap">
        select
        *
        from userinfo
        where last_login > #{start, jdbcType =TIMESTAMP}
    </select>
</mapper>